*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 15px;

}

.calculator-grid > button {
    cursor:pointer;
    border-radius: 50px;
    height: 100px;
    width: auto;
    font-size: 2rem;
    color: white;
    border: 0px;
    outline: none;
    background-color: #333;
}

.calculator-grid > button:hover {
    background-color: lightgray;

}

.span-two {
    grid-column: 1 / span 2;
    border-radius: 55px;
    padding-right: 110px;
    justify-content: flex-start;
    width: 250px
}

.output {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    color: white;
    font-size: 7.5rem;
    font-style: normal;
}